@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --white: #fff;
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  /* text-transform: capitalize; */
  box-sizing: border-box;
  transition: all 0.2s ease-in;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: #333;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0.5rem;
}

.logo {
  font-weight: bolder;
  font-size: 2rem;
  color: var(--white);
  text-transform: uppercase;
}

.fa-utensils {
  color: var(--green);
}

.nav {
  margin: 1rem;
}

.nav a {
  color: var(--white);
  padding: 1rem 0.8rem;
  font-size: 2rem;
  border-radius: 0.7rem;
  text-transform: uppercase;
}
.nav a.active,
.nav a:hover {
  color: #fff;
  background: var(--green);
  border-radius: 0.4rem;
}

#icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  color: var(--black);
  font-size: 1.7rem;
  text-align: center;
  background: #eee;
  border-radius: 50%;
}

#icons a:hover {
  background: var(--green);
  color: #fff;
  transform: rotate(360deg);
  transition: 0.8s ease;
}

/* -------------------------- main section start =-------------------------------------- */

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;
  justify-content: space-around;
  height: 100vh;
  position: relative;
  z-index: -1;
}

.color-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  position: absolute;
  background-color: #042104;
  z-index: 1;
  animation: animateColor 8s linear infinite;
}

@keyframes animateColor
{
    0%
    {
       filter: hue-rotate(0deg);
    }
    100%
    {
       filter: hue-rotate(360deg);
    }

}

.color-circle .container {
  display: flex;
}

.color-circle .container .circle {
  position: relative;
  width: 200px;
  height: 200px;
   margin: 0 -5px; 
 
}

.color-circle .container .circle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));

  /* 360 / 20 = 18deg */
}

.color-circle .container .circle span::before {
  content: "";
  position: absolute;
  right: 0;
  top: calc(50% - 7.5px);
  width: 20px;
  height: 20px;
  background-color: #00ff0a;
  border-radius: 50%;
  box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a,
    0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
    transform: scale(0.1);
    animation: animate 4s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

.color-circle .container .circle:nth-child(2)
{
   transform: rotate(180deg);
}

.color-circle .container .circle:nth-child(2) span::before{
animation-delay: calc(-0.1s * var(--i));
}

@keyframes animate {
   0%
   {
      transform: scale(1);
   }
   50%,100%
   {
      transform:scale(0.1);
   }
}

/* keyFrame */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.RHS {
  position: relative;
  width: 80rem;
  height: 80rem;
  right: 30%;
  z-index: 2;

  animation: spin 2s infinite;
}

.text {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 80rem;
  height: auto;
  position: relative;
  z-index: 2;
}

.para {
  text-align: center;
  font-size: 3rem;
}

.heading {
  font-size: 7rem;
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LHS {
  position: relative;
  width: 80rem;
  height: 80rem;
  left: 30%;
  z-index: 2;
  animation: circle 2s infinite;
}

.about {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.about-img {
  border-radius: 3rem;
  padding: 1rem;
}

.about-text {
  padding: 5rem;
  width: 60rem;
}

/*---------------------------------- main section ends--------------------------------- */

/* -------------------------------- galary section start -------------------------- */

.package .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.package .box-container .box {
  flex: 1 1 30rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  max-width: 30rem;
}

.package .box-container .box img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}

.package .box-container .box {
  padding: 2rem;
}

.package .box-container .box h3 {
  font-size: 2rem;
  color: #333;
}

p span {
  font-size: 2rem;
  font-weight: bolder;
  color: black;
}

.package .box-container .box p {
  font-size: 1.7rem;
  color: #222;
  padding: 1rem 0;
}
.package .box-container .box .price {
  font-size: 1.7rem;
  color: #333;
  padding-top: 1rem;
}

/* -------------------------------galary section ends ------------------------------- */

/*----------------------- team section start -------------------------------------------- */

.heading {
  text-align: center;
}

.members {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.member {
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 1rem solid #fff;
  border-radius: 0.5rem;
  height: 50rem;
  width: 50rem;
  position: relative;
}

.member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}

.member .designation {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.member .designation h3 {
  font-size: 3.5rem;
  color: orange;
}

.member .designation p {
  font-size: 2.5rem;
  color: #fff;
  padding: 0.5rem 0;
}

.member .designation .btn {
  display: inline-block;
  margin-top: 1rem;
  background: orange;
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid orange;
  cursor: pointer;
  font-size: 1.7rem;
  /* width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.member .designation .btn:hover {
  background: rgba(225, 165, 0, 0.2);
  color: orange;
}

.member:hover .designation {
  top: 0;
}

/* .member .desigation { 
     color: #000;
     position: absolute;
     z-index: 323;
 }
  */

/* ------------------------------- team section end s------------------------------------ */

/* -------- contact  section start -------------------   */

.contact {
  height: 100vh;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #001660;
  margin-bottom: 2rem;
}

.contactUs{
display: flex;
align-items: center;
justify-content: center;

}

form{
  display: flex;
flex-direction: column;
padding: 2vw 4vw;
width: 90%;
max-width: 600px;
border-radius: 10px;
background: #fff;
}

.inTouch{
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}

form input , form textarea{

margin: 10px 0;
padding: 20px;
background: #f5f5f5 ;
font-size: 22px;
}

form button{
  padding: 15px;
  background: #ff5361;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;

}


/* -------- contact  section ends -------------------   */

/* ---------------------------------------- footer section ends ----------------------------*/

footer {
  width: 100%;
  background: black;
  height: auto;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

footer img {
  width: 13rem;
  height: 5.5rem;
}

.footer-menu {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4rem;
}

footer div h4 {
  color: white;
  font-size: 3rem;
  text-transform: capitalize;
}
footer div a {
  color: #fff;
  display: block;
  font-size: 2rem;
  line-height: 150%;
}

/* ---------------------------- footer sectio ends -------------------------------- */

/* ----------responsive-------------------- */

@media (max-width: 1350px) {
  html {
    font-size: 55%;
    overflow-x: hidden;
  }

  .RHS {
    position: relative;
    width: 60rem;
    height: 60rem;
  }

  .LHS {
    position: relative;
    width: 60rem;
    height: 60rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 50%;
    overflow-x: hidden;
  }

  .RHS {
    display: none;
  }

  .LHS {
    position: relative;
    width: 80rem;
    height: 80rem;
    right: -30rem;
  }

  .text {
    position: relative;
    left: 20rem;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 48%;
  }

  .RHS {
    display: none;
  }

  .LHS {
    position: relative;
    width: 60rem;
    height: 60rem;
    right: -25rem;
  }

  .text {
    position: relative;
    left: 20rem;
  }
}

@media (max-width: 786px) {
  html {
    font-size: 40%;
  }
  .fa-bars {
    display: inline-block;
  }
  .nav {
    position: absolute;
    top: 10%;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }

  .nav a {
    display: block;
    padding: 2rem;

    background: #eee;
    font-size: 3rem;
    width: 100%;
  }
}
